<style>
.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
</style>

<div  class="toolbar">

        <h3>Datos obtenidos de ws</h3>
</div>


<div class="container">

        <p> * Angular necesita trabajar con un backend. Sql o No, O servicios como firebase de google que es un db que se conecta angular sin un lenguaje de programación. Para Backend esta nodejs.Que es un entorno de ejecución de Javascript.Ver el  Stack Mean. 
            Vamos a usar servicios para obtener y enviar datos a una bd. 
            <a href="https://JsonPlaceHolder.typicode.com " target="_blank" rel="noopener"> Ver recursos json</a>
            Utilizaremos http para traer los datos del server.Creamos un servicio en la terminal ng generate service data. Se crean data.service.spec.ts(para testear el servicio) y data.services.ts(es el servicio en si.)
            Con el modulo HTTP podremos mostar datos 
        </p>  
      
       <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
      <!-- * * * * *muestro la data obtenida del json * * * * * * * * * -->
       <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
        <div *ngFor="let post of posts">
            <h5 style="color: blue;">{{ post.id }}</h5>
            <h3>{{ post.title }}</h3>
            <p> {{ post.body }}</p>
      
        </div>
</div>
